*{
  background-color: bisque;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  margin: 5px;
}
Bootstrap{
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}
div{
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.details{
  border: 1px solid black;
  border-radius: 15px;
  flex-wrap: wrap;
  margin: 5px;
}
.details:hover{
  margin-top: 1px;
}
span{
  font-size: 27px;
}

.info{
  text-align: left;
}
.click{
  width: 200px;
  height: 35px;
  background-color: black;
  color: aliceblue;
  border-radius: 20px;
  opacity: 70%;
 }
 .click:hover{
  opacity: 100%;
  cursor: pointer;
 }
 .fpp{
  opacity: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .line{
  border-bottom: 1px solid black;
 }
 .wrong{
  opacity: 50%;
  font-size: 20px;
 }
 .wrogntxt{
  opacity: 50%;
 }